@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-gray-600);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-gray-700);
    font-family: var(--font-sans);
    font-weight: 500;
  }
  h1 {
    text-size: var(--text-5xl);
  }
  h2 {
    text-size: var(--text-4xl);
  }
  h3 {
    text-size: var(--text-3xl);
  }
  h4 {
    text-size: var(--text-2xl);
  }
  h5 {
    text-size: var(--text-xl);
  }
  h6 {
    text-size: var(--text-lg);
  }
  p {
    text-size: var(--text-md);
    text-weight: 400;
  }
  a {
    text-size: var(--text-md);
    text-weight: 400;
  }
}

@theme {
  /* Base colors */
  --color-white: #fff;
  --color-black: #000;

  /* Gray scale - these will generate bg-gray-100, text-gray-200, etc. */
  --color-gray-50: #f2f2f2;
  --color-gray-100: #d2d2d2;
  --color-gray-200: #a5a5a5;
  --color-gray-300: #797979;
  --color-gray-400: #4c4c4c;
  --color-gray-500: #393939;
  --color-gray-600: #262626;
  --color-gray-700: #131313;

  /* Primary color scale - these will generate bg-primary-100, text-primary-500, etc. */
  --color-primary-100: #e8d5fe;
  --color-primary-200: #d1acfd;
  --color-primary-300: #b982fc;
  --color-primary-400: #a259fb;
  --color-primary-500: #7a43bc;
  --color-primary-600: #512d7e;
  --color-primary-700: #29163f;

  /* Origin UI color mappings */
  --color-accent: var(--color-primary-500);
  --color-accent-foreground: var(--color-white);
  --color-muted-foreground: var(--color-gray-200);

  /* Typography */
  --font-sans: 'Mohave', sans-serif;
  --font-mono: 'Overpass Mono', monospace;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-mmd: 1.125rem;
  --text-lg: 1.25rem;
  --text-llg: 1.375rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 2.5rem;
  --text-4xl: 3rem;
  --text-5xl: 3.75rem;
}

@layer components {
  .panel {
    background-color: var(--color-white);
    border-radius: var(--rounded-lg);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-xl);
  }
}

@theme inline {
  --text-body-xs: var(--text-xs);
  --text-body-sm: var(--text-sm);
  --text-body-md: var(--text-md);
  --text-body-lg: var(--text-lg);
  --text-subtitle-sm: var(--text-md);
  --text-subtitle-md: var(--text-mmd);
  --text-subtitle-lg: var(--text-llg);
  --text-sans: var(--font-mohave);
  --text-mono: var(--font-overpass-mono);
}
